@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');


html {
    scroll-behavior: smooth;
}

.hero {
    font-family: 'Happy Monkey', cursive;
    line-height: 1.5;
}
/* Jumbotron Styling */
.jumbo-style  {
    height: 100vh;
    width: 100%;
    background: #8bf0ba ;
    color: #333;
    position: relative;
    display: flex;
    align-items: center ;
    text-align: center;
    padding: 0 20px;

}

.btn-group {
    width: 90%;
    margin: auto;
    }

    /* Card Styling */

.card-reveal {
    background: #333 !important;
}

.card-hero {
    color:#f43a09 ;
}

.card-container {
 margin: auto;
width: 90%;
display: flex;
align-items: center;
justify-content: center;
}

.card-content {
    margin: 0 20px;
}

.to-show {
    display: none;
    flex-direction: row;
}